/bin/
/app-info.html
/app.log
/journal-2017-01-24-1.log
/journal.log
/journal-2017-01-24-2.log
/log.html
/protokoll.log
/journal-2017-01-24-3.log
/journal-2017-01-25-1.log
/journal-2017-01-25-2.log
/journal-2017-01-26-1.log
