<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">

    <CustomLevels>
        <CustomLevel name="JOURNAL" intLevel="50" />
    </CustomLevels>

    <Appenders>
		<RollingFile name="JOURNALFILE" fileName="./journal.log" filePattern="./journal-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%m%n" />
		    <Policies>
		      <OnStartupTriggeringPolicy />
		    </Policies>
        </RollingFile>

        <File name="FILE" fileName="./app.log">
            <PatternLayout pattern="%d{HH:mm:ss dd.mm} [%t] [%-5level] %logger{36} - %msg %n" />
            <Filters>
                <!--Deny message logged under Analytics log level-->
                <ThresholdFilter level="JOURNAL"  onMatch="DENY"   onMismatch="NEUTRAL"/>
            </Filters>
        </File>

        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
        </Console>


    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="FILE" level="TRACE"/>
            <AppenderRef ref="JOURNALFILE" level="JOURNAL"/>
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>